.table-id {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.table-unique-key {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.table-name {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
